extends ./layout.pug

block title
  title #{title}

block body
  - const isLoggedIn = true
  - var test = "<h3>test</h3>"

  if isLoggedIn
    h1#header.headerclass #{title}
    //- displays as plaintext
    =test

    //- access content from server with #{}
    p #{response}

    input(placeholder='enter email')


  else
    p Please log in

